.loading-shade {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}
.chart-container {
  position: relative;
  height: 300px;
  width: 100%;
}